**/.project
**/.settings/
**/*.class
**/.classpath
**/*temp*.txt
**/*.log
.externalToolBuilders/
.idea/
built/
deploiements/
node_modules/
target/
package-lock.json
*.code-workspace
/log/
**/META-INF/*/target/
/src/main/resources/
/.factorypath
qodana.yaml
